{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='summernote/summernote-lite.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Update Course{% endblock %}

{% block content %}
    <div class="row center">
        <div class="col s12">
            <h1>Atualizar Curso</h1>
        </div>
    </div>

    <div class="row">
        <div class="col m4 s12">
            <img id="course-img" class="responsive-img materialboxed" src="{{ course.image }}" alt="Imagem do curso" data-caption="Imagem do curso">
        </div>
        <form method="POST" class="col m8 s12">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">title</i>
                    {{ form.title(class='validate') }}
                    {{ form.title.label }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col m6 s12">
                    <i class="material-icons prefix">image</i>
                    {{ form.image_link(class='validate', id='img-form') }}
                    {{ form.image_link.label }}
                    {% for error in form.image_link.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="input-field col m6 s12">
                    <i class="material-icons prefix">school</i>
                    {{ form.certification_link(class='validate') }}
                    {{ form.certification_link.label }}
                    {% for error in form.certification_link.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <i class="material-icons prefix">date_range</i>
                    Conclusion Date
                </div>
                <div class="col s9">
                    {{ form.conclusion_date(class='validate datepicker', type='date') }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.description(id='summernote') }}
                </div>
            </div>
            <div class="row center">
                {{ form.submit(class='waves-effect waves-light btn') }}
            </div>
        </form>
    </div>

    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="{{ url_for('static', filename='summernote/summernote-lite.min.js') }}"></script>
        <script>
            $(document).ready(function() {
                let HTMLString = '{{ course.description }}'
                $('#summernote').summernote({
                    placeholder: '{{ form.description.label }}',
                    height: 300,
                    toolbar: [
                        // [groupName, [list of button]]
                        ['style', ['style', 'bold', 'italic', 'underline', 'clear']],
                        ['font', ['strikethrough', 'superscript', 'subscript']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['height', ['height']]
                    ]
                })
            })

            img_form = document.getElementById('img-form')
            img_form.onchange = function(){
                new_data = img_form.value

                image = document.getElementById('course-img')
                image.src = new_data
            }
        </script>
    {% endblock %}
{% endblock %}
